body{
	background-color: #FFFFFF;
}
p{
	font-family: 'Varela Round', sans-serif;
	color: #221D1F;
	font-size: 20px;
	line-height:30px;
}
#page-wrap {
     margin: 26px 29px 0px 28px;
     display: block;
     height:600px;
 }
hr{
	height: 0.5px;
	background-color: #EE4223;
	border: none;
}
ul {
    list-style-type: none;
    margin: 22px 0 0 0px;
    font-family: 'Varela Round', sans-serif;
    line-height: 28px;
}
a:link {
    text-decoration: none;
    color:#EE4223;
}
a:visited {
    text-decoration: none;
    color:#EE4223;
}
a:hover {
    text-decoration: none;
    color:#0A0A0A;
}
#content{
	width:552px;
	display:block;
	margin: -95px 0px 10px 252px;
	line-height:25px;
}
header{
	padding-left:10px;
	padding-bottom:10px;

}
